
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 64%;
    margin-bottom: 50%;
  }

h1 {

    margin: 50px auto;
    padding: 0 30%;
}
form{
    display: flex;
    justify-content: space-between;
}
.formData{
    margin: 0 5px;
}


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 189px;
  }
 #submit {
    background-color: DodgerBlue;
    color: #fff;border: 1px solid transparent;
    padding: 10px;
    font-size: 12px;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/** table **/

.titre{
  padding: 28px;
}
  table,
td {
  margin-top: 79px;
}

thead{
  background-color: #333;
  color: #fff;
}

tfoot {
    background-color: #fff;
    color: #333;
}


.listeCadrsDevices{
  
  margin: -71px 0 0 -201px;
}

#tableAllInfos{
    /* border: none;
    margin: -673px  0px 5px 100px; */
}

#tableAllInfos tr th{

    padding: 0 0 0 130px;
    font-size: 12px;
  
}

#tbodyInfos tr th{
    border: none;
    padding: 8px 0 0 76px;
    /* width: 181px; */
    font-size: 12px;
}

#tbodyAllInfosUser{
    /* border: none;  */
    /* margin: -546px 0px 35px 114px */
    position: absolute;
    top: 40%;
}

hr {
    margin-left: 136px;
}
.btnCadr {
    margin-left: 30px;
}
#btn {
    border: none;
    padding-left: 10px;
}
#update{
    background-color: DodgerBlue;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    margin-left: 95px;

}
#deleteUser{
    background-color: red;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;

}


.fa-circle-check {
    
    color: green;
    float: right;

}


.cardPopup{
  background-color: gray;
  width: 300px;
  height: 250px;
  border-radius: 50px;
  color: white;
  margin-right: auto;
  margin-left: auto;
}
.cardPopup span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;

}

#updatePopUp{
  background-color: DodgerBlue;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    margin: 36px 0 0 51px;
}

.cardInfos{
  padding-top: 8px;
}



/*Style message d'erreur.*/
.error {
  color :#e54858;
  font-size: 12px;

}

/*Traitement style message d'erreur*/

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}

/*Traitement style message d'erreur*/
.formData .text-control[data-error-visible="true"] {
  border: 2px solid #e54858;
}
/*Traitement style saisie correcte*/
.formData .text-control[data-error-visible="false"] {
  border: 2px solid #279e7a;
}


ul li {
  border: 1px solid #333;
  padding: 10px 5px;
  /* margin: 10px auto; */
  list-style: none;
  font-size: 15px;
  width: 189px;
}

.bg_list{
  background-color: #fff;
  color: #333;
  margin: 35px 0;
}

#elements{
 
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 189px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
}

.show {display: block;}

/* The search field */
#filter {
  box-sizing: border-box;
  background-image: url('/images/search.svg');
  background-position: 156px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 9px;
  border: none;
  background-size: 22px;
  border-bottom: 1px solid #ddd;
}
